.logo {
	margin: 0 0 15px;
}

.logo h1 {
	font-size: 22px;
	color: #ffffff;
	line-height: 30px;
	font-weight: 400;
}

.logo h1 strong {
	font-weight: 700;
}

.logo h1 span {
	padding-right: 10px;
	margin-right: 10px;
	border-right: 1px solid rgba(255, 255, 255, .3);
}
